a
{
cursor: pointer;
}

#clientTestimonial
{
    background: url('../img/review-bg.jpg') no-repeat;
}

#VoiceControl
{
    background: url('../img/video-bg.jpg') no-repeat;
}

.productsTabsArea .tab-content {
    background-color:#fafafa;
    border: 1px solid#e6e6e6;
    padding: 30px;
}

.productsTabsArea .tab-content .Productinfolist {
    padding: 0 0 0 20px;
}

.reviews .media.media-review img {
    border-radius: 90px;
    border: solid 2px #dfb479;
}

.productsTabsArea .nav.nav-tabs a {
    border: solid 1px#ccc;
    border-radius: 0;
    color: #000;
}

.productsTabsArea .nav.nav-tabs a.nav-item.nav-link.active {
    background:#dfb479;
    color: #fff;
    font-weight: bold;
}

.eco--pricing--wrap--1 .eco--pricing--main--wrap ul.eco--single--pricing--1.eco--pricing--overview li:first-child {
    height: 384px;
}

.productsTabsArea .tab-content h4 {
    font-weight: bold;
}


#SingleProduct .media-detail {
    text-align: center;
    border: solid 1px #ccc;
}

#SingleProduct .productSmallMedia .col {
    border: solid 1px #ccc;
}

#SingleProduct .productSmallMedia {
    margin: 0 0 30px 0;
}

#SingleProduct .title-heading {
    font-size: 50px;
    color: #dfb479;
    font-weight: bold;
    margin: 0;
}

#SingleProduct .price {
    font-size: 30px;
}

#LeaveComments {
    margin: 30px 0 0 0;
}

#LeaveComments .title-heading {
    margin: 20px 0 20px 0;
}

.productsTabsArea .form-comment .form-control{
    height: 45px;
    background-color: #f6f6f6;
    border: 1px solid#eee;
    border-radius: 3px;
    box-shadow: none;
    opacity: 0.9;
}

#AllpagesHBanner {
    background: url('../img/video-bg.jpg') no-repeat;
    text-align: center;
    padding: 60px 0;
    color: #fff;
    font-weight: bold;
}

#AllpagesHBanner h3 {
    font-size: 50px;
}

.bg-breadcrumb 
{
    background-color: #e9ecef;  
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: 
    #e9ecef;
    border-radius: .25rem;
}
