
h1, h2, .banner-page .title-page, h3, h4, h5 {
    font-family: "Bitter", serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

body, button, input, select, textarea {
    color: #999999;
    font-family: "arvo", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}


.header-1 .navbar-main .btn-secondary {
    background-color: #3C2800;
}


.header-1 .navbar-main  .btn-secondary {
    font-size: 14px;
    color: #ffffff;
    padding: 13px 40px;
    border: 0;
    min-width: 150px;
    border-radius: 0;
}

#Headercarousel .carousel-item
{
    height: 700px;
}

#Headercarousel .carousel-item .carousel-caption
{
    text-align: left;
    top: 180px;
    left: 5%;
}

#Headercarousel .carousel-caption h1
{
font-size: 48px;
padding: 0;
margin-bottom: 10px;
}


#Headercarousel .carousel-caption .text-primary {
    color: 
    #F7941D !important;
}

#Headercarousel .carousel-caption .text-black{
    color: 
    #222222 !important;
}

#Headercarousel .carousel-caption .btn, #Headercarousel .carousel-caption .btn-primary{
    font-size: 14px;
    color: #ffffff;
    padding: 13px 40px;
    border: 0;
    min-width: 150px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}

#Headercarousel .carousel-caption  .btn-primary {
    background-color: #F7941D;
    color: #ffffff;
}

#Headercarousel .carousel-control-next, .carousel-control-prev
{
    width: 5%;
}

#Headercarousel .carousel-control-next-icon, .carousel-control-prev-icon
{
    /* border: solid 1px#ccc;
    border-radius: 50px; */
    height: 30px;
    width: 30px;
}



#Headercarousel img
{
    width: 100%;
    height: auto;
}

#HomeAboutSection
{
    background: url('../images/about.jpg') no-repeat;
}

.section-heading::after {
    width: 30px;
    height: 3px;
    background: #F7941D;
    margin-bottom: 10px;
    margin-top: 20px;
}


.section-heading.text-primary.no-after.mb-4 {
    color: #F7941D !important;
}